<div class="white-border">
  <span class="usertext"><%= @cleaned_up_text %></span>
  <br><br>
  has been analyzed and found to have more
  <br><br>
  <span class="result">
    <span class="<%= @cssresult %>"><%= @result.capitalize %> Sentiment</span>
  </span>
  <br>
  <br>
  <br>
  <form method="get" action="<%= url '/' %>">
    <button type="submit" class="goback">Back</button>
  </form>
</div>
<br>

<% if @source %>
<span class="source">
  <%= ('Text source: ' + @source) %>
</span>
<% end %>
