<section class="analysis-result">
  <header>
    <h1>Analysis Result</h1>
    <div class="gradient-ltr"></div>
  </header>

  <div class="results">
    <span class="usertext"><%= @view_data[:cleaned_up_text] %></span>
    <p>
      has been analyzed and found to have more
    </p>
    <div class="result">
      <span class="<%= @view_data[:css_result] %>"
        title="<%= @view_data[:positive_percent] %> positive, <%= @view_data[:negative_percent] %> negative">
        <%= @view_data[:css_result].capitalize %> Sentiment
      </span>
    </div>
    <div class="gradient-rtl"></div>
  </div>

  <div class="go-back">
    <form method="get" action="<%= url '/' %>">
      <input type="submit" class="goback" value="Back">
    </form>
  </div>

  <% if @view_data[:text_source] %>
  <div class="source">
    <%= ('Text source: ' + @view_data[:text_source]) %>
  </div>
  <% end %>
</section>
