<section class="analysis-result">
  <span class="usertext"><%= @cleaned_up_text %></span>
  <p>
    has been analyzed and found to have more
  </p>
  <span class="result">
    <span class="<%= @cssresult %>"><%= @result.capitalize %> Sentiment</span>
  </span>

  <form method="get" action="<%= url '/' %>">
    <button type="submit" class="goback">Back</button>
  </form>
  <% if @text_source %>
  <div class="source">
    <%= ('Text source: ' + @text_source) %>
  </div>
  <% end %>
</section>
