<section class="analysis-result">
  <span class="usertext"><%= @view_data[:cleaned_up_text] %></span>
  <p>
    has been analyzed and found to have more
  </p>
  <span class="result">
    <span class="<%= @view_data[:css_result] %>"
      title="<%= @view_data[:positive_percent] %> positive, <%= @view_data[:negative_percent] %> negative">
      <%= @view_data[:css_result].capitalize %> Sentiment
    </span>
  </span>

  <form method="get" action="<%= url '/' %>">
    <button type="submit" class="goback">Back</button>
  </form>
  <% if @view_data[:text_source] %>
  <div class="source">
    <%= ('Text source: ' + @view_data[:text_source]) %>
  </div>
  <% end %>
</section>
